<div class="container">
  <br />
  <h1>InterviewFeedback List</h1>
  <br />

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>raring</th>
        <th>comment</th>
        <th colspan="2">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of interviewFeedbackCollections">
        <td>{{ c.id }}</td>
        <td>{{ c.raring }}</td>
        <td>{{ c.comment }}</td>
        <td>
          <input type="button" class="btn btn-info" value="Edit" />
        </td>

        <td>
          <input
            type="button"
            class="btn btn-danger"
            (click)="deleteInterviewFeedback(c.id)"
            value="Delete"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
