<div class="container">
  <br />
  <h1>Add InterviewType</h1>
  <br />
  <form [formGroup]="addInterviewTypeFormGroup">
    <div class="row">
      <div class="my-2">
        <span>title</span>
        <input type="text" formControlName="title" class="form-control" />
        <span
          class="text-danger"
          *ngIf="title && title.invalid && title.touched"
          >Invalid input</span
        >
      </div>
    </div>

    <div class="row">
      <div class="my-2">
        <input type="checkbox" formControlName="isActive" />
        <span>Is Active</span>
      </div>
    </div>

    <div class="row">
      <div class="my-2">
        <input
          type="button"
          [disabled]="addInterviewTypeFormGroup.invalid"
          value="Save InterviewType"
          class="btn btn-primary"
          (click)="saveInterviewType()"
        />
      </div>
    </div>
  </form>
</div>
